.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
    padding: 10px 0;
    max-height: min((100vh - 96px) - 60px, 734px);
    transition: opacity 300ms ease 0s;
}
