.header-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: calc(100% - var(--nav-width));
    top: 0;
    right: 0;
    padding: 0 29px;
    p {
        margin: 0;
    }
    .left_container {
        display: flex;
        flex-grow: 1;
    }
    .right_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.action-btn {
    margin-right: 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
