.wrapper {
    background: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    // justify-content: cen//ter;
    padding: 4px 17px;
    color: var(--while);
    font-size: 1.8rem;
    font-family: var(--font-style);
    transition: all 0.15s ease;
    cursor: pointer;

    &:hover .right.rightIconHover {
        opacity: 0.6;
    }

    .right {
        &.rightIconHover {
            opacity: 0;
        }
        &.rightIconHover:hover {
            opacity: 0.9;
        }
    }
    .iSize17 {
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iSize20 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iSize24 {
        font-size: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.children {
    flex-grow: 1;
}

.primary {
    border-radius: 999px;
    font-weight: 400;
    text-transform: none;
    line-height: normal;
}

.round {
    width: 40px;
    height: 40px;
    padding: 9px 9px;
    justify-content: center;

    background: var(--alpha-bg);
    border-radius: 50%;
    :hover {
        filter: brightness(0.9);
    }
}

.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.3;
    cursor: none;
}

.suggestion {
    border-top: 1px solid var(--border-primary);
}

.leftIcon {
    margin-right: 10px;
}

.rightIcon {
    margin-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}

.slider:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */

.flex-box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    .left {
        flex-grow: 1;
        .title {
            font-size: 1.4rem;
            font-weight: 600;
            color: #fff;
        }
        .sub-title {
            font-size: 1.2rem;
            color: var(--text-secondary);
        }
    }
    .right {
        margin-left: 12px;
    }
}
