.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    padding: 8px 10px;
    cursor: pointer;
    &:hover {
        background: var(--alpha-bg);
    }
}

.icons {
    color: var(--text-secondary);
    font-size: 1.6rem;
    margin-right: 10px;
}

.title {
    flex-grow: 1;
    font-weight: 400;
}
.avatar {
    width: 52px;
    height: 52px;
    margin-right: 10px;
    border-radius: 5px;
    &.round {
        border-radius: 50%;
    }
}

.flex-container {
    flex-grow: 1;
    .title {
        font-weight: 600;
        font-size: 1.4rem;
        &:hover {
            color: rgb(66, 158, 255);
        }
    }
}

.subtitle {
    font-size: 1.2rem;
    color: var(--text-secondary);
}
