.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    padding: 8px 10px;
}

.icons {
    color: var(--text-secondary);
    font-size: 1.6rem;
    margin-right: 10px;
}

.title {
    flex-grow: 1;
    font-weight: 400;
}
