.SideBarItem {
    .chil {
        border-left: 3px solid transparent;
        opacity: 0.8;
        &:hover {
            color: var(--text-item-hover);
            opacity: 1;
        }
    }

    &.active {
        .chil {
            border-left: 3px solid var(--purple-primary);
            background-color: var(--alpha-bg);
            color: var(--text-item-hover);
            opacity: 1;
        }
    }
    &.borderTop {
        border-top: 1px solid var(--border-primary);
        padding-top: 12px;
        margin-top: 12px;
    }
}
